<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <form>
      <!-- EMAIL -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          email
        />
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
        />
      </div>

      <!-- BUTTONS -->
      <button class="btn btn-primary mr-3">Sign Up</button>
      |
      <button class="btn btn-primary">Login</button>
      |
      <button class="btn btn-primary" type="submit">
        {{ isLoginMode ? "Sign In" : "Sign Up" }}
      </button>
      |
      <button class="btn btn-primary" type="button" (click)="onSwitchAuthMode()">
        Switch to {{ isLoginMode ? "Sign Up" : "Sign In" }}
      </button>
    </form>
  </div>
</div>

<form #authFormRef="ngForm" (ngSubmit)="onAuthFormSubmit(authFormRef)">
  <!-- EMAIL -->
  <input
    type="email"
    id="email"
    name="email"
    class="form-control"
    email
    ngModel
    required
  />
  <!-- . . . -->

  <!-- PASSWORD -->
  <input
    type="password"
    id="password"
    name="password"
    class="form-control"
    minlength="6"
    ngModel
    required
  />
  <!-- . . . -->

  <!-- BUTTONS -->
  <button class="btn btn-primary" type="submit" [disabled]="!authFormRef.valid">
    {{ isLoginMode ? "Sign In" : "Sign Up" }}
  </button>
  <!-- . . . -->
</form>

