<!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">The Met. With Me.</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLoggedIn"
            class="nav-link"
            routerLink="/auth"
            routerLinkActive="active"
            >Logout</a
          >
          <a
            *ngIf="!isLoggedIn"
            class="nav-link"
            routerLink="/auth"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search" routerLinkActive="active"
            >Search</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-gallery" routerLinkActive="active"
            >My Gallery</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" id="brand" style="cursor: pointer" routerLink="/">
    <img
      src="./../../assets/artboard_6.png"
      height="150"
      class="d-inline-block align-top"
      alt=""
    />
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor: pointer"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>

      <li class="nav-item">
        <a
          *ngIf="isLoggedIn"
          class="nav-link"
          routerLink="/auth"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Logout</a
        >
        <a
          *ngIf="!isLoggedIn"
          class="nav-link"
          routerLink="/auth"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor: pointer"
          routerLink="/search"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Search
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor: pointer"
          routerLink="/my-gallery"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="isLoggedIn"
        >
          My Gallery</a
        >
      </li>
    </ul>
  </div>
</nav>
