<nav class="navbar navbar-expand-lg mb-4">
  <a
    class="navbar-brand brand"
    id="brand"
    style="cursor: pointer"
    routerLink="/"
  >
    <img
      src="./../../assets/metwithme_logo1.png"
      alt="Link to met with me home"
      height="100"
  /></a>

  <!-- Main Nav Links -->

  <a
    class="nav-link"
    style="cursor: pointer"
    routerLink="/auth"
    routerLinkActive="active"
    >Authenticate</a
  >

  <a
    class="nav-link"
    style="cursor: pointer"
    routerLink="/search"
    routerLinkActive="active"
  >
    Search
  </a>

  <a
    class="nav-link"
    style="cursor: pointer"
    routerLink="/gallery"
    routerLinkActive="active"
  >
    My Gallery</a
  >
</nav>
