<!-- Add cards for popular objects -->
<h3>Popular Artwork at the Met</h3>
<div>
  <ul class="cards">
    <!-- 1 -->
    <li>
      <a
        href="https://www.metmuseum.org/art/collection/search/10793?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=10"
        class="card"
      >
        <img
          src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/10793/32691/main-image"
          class="card__image"
          alt="Thanatopsis"
        />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">
                <a
                  href="https://www.metmuseum.org/art/collection/search/10793?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=10"
                  >Landscape--Scene from "Thanatopsis" by Asher Brown Durand</a
                >
              </h3>
            </div>
          </div>
          <p class="card__description">
            Inspired by William Cullen Bryant's poem "Thanatopsis," this
            landscape was first exhibited at the National Academy of Design in
            1850.
          </p>
        </div>
      </a>
    </li>
    <!-- 2 -->
    <li>
      <a
        href="https://www.metmuseum.org/art/collection/search/437127?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=3"
        class="card"
      >
        <img
          src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/437127/796089/restricted"
          class="card__image"
          alt="Bridge over a pond of water lilies"
        />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">
                <a
                  href="https://www.metmuseum.org/art/collection/search/45434?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=1"
                  >Bridge over a Pond of Water Lilies by Claude Monet</a
                >
              </h3>
            </div>
          </div>
          <p class="card__description">
            In 1893, Monet purchased land with a pond to build something "for
            the pleasure of the eye." The result was this water-lily garden.
          </p>
        </div>
      </a>
    </li>
    <!-- 3 -->
    <li>
      <a
        href="https://www.metmuseum.org/art/collection/search/436535?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=4"
        class="card"
      >
        <img
          src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436535/796067/main-image"
          class="card__image"
          alt="Wheat Field with Cypresses"
        />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">
                <a
                  href="https://www.metmuseum.org/art/collection/search/436535?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=4"
                  >Wheat Field with Cypresses by Vincent Van Gogh</a
                >
              </h3>
            </div>
          </div>
          <p class="card__description">
            Van Gogh regarded this work as one of his “best” summer landscapes
            and made two versions, one of which was a gift for his mother and
            sister.
          </p>
        </div>
      </a>
    </li>
    <!-- 4 -->
    <li>
      <a
        href="https://www.metmuseum.org/art/collection/search/436532?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=16"
        class="card"
      >
        <img
          src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436532/1671316/main-image"
          class="card__image"
          alt="Self-Portrait with a Straw Hat"
        />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">
                <a
                  href="https://www.metmuseum.org/art/collection/search/436532?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=16"
                  >"Self-Portrait with a Straw Hat" by Vincent Van Gogh</a
                >
              </h3>
            </div>
          </div>
          <p class="card__description">
            This self-portrait is one of several that are painted on the reverse
            of an earlier painting of a peasant. It is one of 20 painted
            1886-88.
          </p>
        </div>
      </a>
    </li>
    <!-- 5 -->
    <li>
      <a
        href="https://www.metmuseum.org/art/collection/search/436105?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=9"
        class="card"
      >
        <img
          src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436105/1692908/main-image"
          class="card__image"
          alt="The Death of Socrates"
        />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">
                <a
                  href="https://www.metmuseum.org/art/collection/search/436105?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=9"
                  >"The Death of Socrates" by Jacques Louis David</a
                >
              </h3>
            </div>
          </div>
          <p class="card__description">
            David here paints an archeologically exacting image, including
            details of furniture and clothing, but excluding the inclusion of
            Plato at the foot of the bed.
          </p>
        </div>
      </a>
    </li>
    <!-- 6 -->
    <li>
      <a
        href="https://www.metmuseum.org/art/collection/search/435904?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=17"
        class="card"
      >
        <img
          src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/435904/795798/main-image"
          class="card__image"
          alt="Still Life with a Skull and a Writing Quill"
        />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">
                <a
                  href="https://www.metmuseum.org/art/collection/search/435904?&pkgids=725&ft=*&offset=0&rpp=20&amp;pos=17"
                  >"Still Life with a Skull and a Writing Quill" by Pieter
                  Claesz</a
                >
              </h3>
            </div>
          </div>
          <p class="card__description">
            The toppled glass, gap-toothed skull, and guttering wick of an oil
            lamp all serve as stark symbols of life’s brevity.
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
<hr />
