<div class="container">
  <app-navbar></app-navbar>

  <div class="row">
    <div class="col-md-10 mx-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col">
      The Met Collection is where all makers, creators, researchers, and
      dreamers can now connect to the most up-to-date data and images for more
      than 470,000 artworks in The Met collection. As part of The Met's Open
      Access program, the data is available for unrestricted commercial and
      noncommercial use without permission or fee.
    </div>
    <div class="col">

    </div>
    <div class="row">
      <div class="col">
        <app-search></app-search>
      </div>
    </div>
  </div>
</div> -->

<app-footer></app-footer>
