<div class="container" *ngFor="let artwork of myArt; let idx = index">
  <a
    style="cursor: pointer"
    class="list-group-item clearfix"
    [routerLink]="[idx]"
    routerLinkActive="active"
  >
    <div class="row">
      <div class="col">
        <div class="float-left">
          <!-- TITLE -->
          <h5 class="list-group-item-heading">{{ artwork.title }}</h5>

          <!-- ARTIST  -->
          <p class="list-group-item-text mb-0">
            {{ artwork.artistDisplayName }}
          </p>
        </div>
      </div>
      <div class="col">
        <!-- IMAGE -->
        <div class="float-right" *ngIf="artwork.primaryImage !== ''">
          <img
            src="{{ artwork.primaryImage }}"
            alt="{{ artwork.title }}"
            class="img-responsive rounded"
            style="max-height: 100px"
          />
        </div>
      </div>
    </div>
  </a>
  <button
    class="float-right"
    style="border: none; font-size: 1rem"
    (click)="onRemoveArtFromGallery(idx)"
  >
    &minus;
  </button>
</div>

<!-- <div class="row mb-12" *ngFor="let artwork of myArt; let idx = index">
  <div class="col-md-12">
    <a
      style="cursor: pointer"
      class="list-group-item clearfix"
      [routerLink]="[idx]"
      routerLinkActive="active"
    >
      <div class="float-sm-left">
         TITLE
        <h5 class="list-group-item-heading">{{ artwork.title }}</h5>

         ARTIST
        <p class="list-group-item-text mb-0">
          {{ artwork.artistDisplayName }}
        </p>
      </div>

       IMAGE
      <div class="float-sm-right" *ngIf="artwork.primaryImage !== ''">
        <img
          src="{{ artwork.primaryImage }}"
          alt="{{ artwork.title }}"
          class="img-responsive rounded"
          style="max-height: 100px"
        />
      </div>
    </a>

    <button
      class="float-right"
      style="border: none; font-size: 1rem"
      (click)="onRemoveArtFromGallery(idx)"
    >
      &minus;
    </button>
  </div>
</div> -->
